#! /usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

## debian/rules for fortified

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS="-O0 -Wall -g"
else
	CFLAGS="-O2 -Wall -g"
endif

build:
	CFLAGS=$(CFLAGS) ./configure \
		--prefix=/usr \
		--mandir=/usr/share/man \
		--infodir=/usr/share/info \
		--datadir=/usr/share \
		--sysconfdir=/etc \
		--localstatedir=/var
	make

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	rm -f intltool-extract intltool-update intltool-merge
	rm -f fortified.schemas fortified.desktop
	[ ! -f Makefile ] || $(MAKE) distclean
	dh_clean
	rm -f po/*.gmo

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	export GCONF_DISABLE_MAKEFILE_SCHEMA_INSTALL=1; \
	$(MAKE) install DESTDIR=$(CURDIR)/debian/fortified
	cd $(CURDIR)/debian/fortified/usr && mv bin sbin
	install -D -m644 pixmaps/fortified.xpm \
		$(CURDIR)/debian/fortified/usr/share/pixmaps/fortified.xpm
	rm $(CURDIR)/debian/fortified/usr/share/gnome/apps/Internet/fortified.desktop
	rm -r $(CURDIR)/debian/fortified/usr/share/gnome
	install -D -m644 fortified.desktop \
		$(CURDIR)/debian/fortified/usr/share/applications/fortified.desktop
	# install script in i(p|f)-(up|down).d to restart guarddog
	# whenever interfaces are brought up/down
	install -D -m755 debian/fortified.ifupdown \
		$(CURDIR)/debian/fortified/etc/ppp/ip-up.d/50fortified
	install -D -m755 debian/fortified.ifupdown \
		$(CURDIR)/debian/fortified/etc/ppp/ip-down.d/50fortified
	install -D -m755 debian/fortified.ifupdown \
		$(CURDIR)/debian/fortified/etc/network/if-up.d/50fortified
	install -D -m755 debian/fortified.ifupdown \
		$(CURDIR)/debian/fortified/etc/network/if-down.d/50fortified
	# remote RPATH from binary

binary-indep: install

binary-arch: install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installmenu
	dh_installman
	dh_installchangelogs ChangeLog
	dh_installinit --no-start --update-rcd-params="start 65 S ."
	dh_gconf
	dh_link
	dh_strip
	dh_compress
	dh_fixperms -X "50fortified"
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
